{{link-to "App list" "apps.index" class="btn btn-primary" }}

<h1 class="page-heading">App</h1>


<div class="panel panel-default">
  <div class="panel-heading">Label:</div>
  <div class="panel-body">
    {{model.label}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Text:</div>
  <div class="panel-body">
    {{model.text}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Done:</div>
  <div class="panel-body">
    {{model.done}}
  </div>
</div>

