<h1 class="page-header">
  <span class="pull-right text-muted">{{fa-icon "plus-circle" fixedWidth=true}}</span>
  {{#link-to "rols.index" tagName="a" }}{{fa-icon "arrow-left" fixedWidth=true}}{{/link-to}}
  Rol
</h1>

{{partial "rols/form"}}
