<h1 class="page-header">
  <span class="pull-right text-muted">{{fa-icon "pencil" fixedWidth=true}}</span>
  {{#link-to "historials.index" tagName="a" }}{{fa-icon "arrow-left" fixedWidth=true}}{{/link-to}}
  Historial
</h1>
{{partial "historials/form"}}
