{{link-to "Plantilla de flujo list" "plantilla-de-flujos.index" class="btn btn-primary" }}

<h1 class="page-heading">Plantilla de flujo</h1>


<div class="panel panel-default">
  <div class="panel-heading">Nombre:</div>
  <div class="panel-body">
    {{model.nombre}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Actividades:</div>
  <div class="panel-body">
    {{model.actividades}}
  </div>
</div>

