<h1 class="page-header">
  <span class="pull-right text-muted">{{fa-icon "plus-circle" fixedWidth=true}}</span>
  {{#link-to "usuarios.index" tagName="a" }}{{fa-icon "arrow-left" fixedWidth=true}}{{/link-to}}
  Usuario
</h1>

{{partial "usuarios/form"}}
