/*
 * Base
 */

 body {
     margin-top: 75px;
 }

.select2-results{

    .select2-highlighted{

        span{
          color: white !important;
          text-shadow: none;
        }
    }

}

.table-responsive,
.form-horizontal{
  @include bounceInDown();
}

.nav-tabs{
  margin: 30px 0;
}
