/*
 * Base
 */

 body {
     margin-top: 75px;
 }

.select2-results{

    .select2-highlighted{

        span{
          color: white !important;
          text-shadow: none;
        }
    }

}

.table-responsive{
  @include bounceInDown();
}
