<h1 class="page-header">
  <span class="pull-right text-muted">{{fa-icon "pencil" fixedWidth=true}}</span>
  {{#link-to "adjuntos.index" tagName="a" }}{{fa-icon "arrow-left" fixedWidth=true}}{{/link-to}}
  Adjunto
</h1>
{{partial "adjuntos/form"}}
