<form {{action 'save' on='submit'}} class="form-horizontal">

  {{input placeholder="Nombre" name="nombre" value=model.nombre}}

  <button type="submit" class="btn btn-success">Submit</button>
  {{link-to "Permisos" "permisos.index" tagName="button" class="btn btn-primary"}}

</form>
