{{link-to "Permiso list" "permisos.index" class="btn btn-primary" }}

<h1 class="page-heading">Permiso</h1>


<div class="panel panel-default">
  <div class="panel-heading">Nombre:</div>
  <div class="panel-body">
    {{model.nombre}}
  </div>
</div>

