<h1 class="page-header">
  <span class="pull-right text-muted">{{fa-icon "pencil" fixedWidth=true}}</span>
  {{#link-to "sprints.index" (query-params proyecto=proyecto) tagName="a" }}{{fa-icon "arrow-left" fixedWidth=true}}{{/link-to}}
  Sprint
</h1>
{{partial "sprints/form"}}
