<h1 class="page-header">
  <span class="pull-right text-muted">{{fa-icon "plus-circle" fixedWidth=true}}</span>
  {{#link-to "userstories.index" tagName="a" }}{{fa-icon "arrow-left" fixedWidth=true}}{{/link-to}}
  Userstory
</h1>

{{partial "userstories/form"}}
