<h1 class="page-header">
  <span class="pull-right text-muted">{{fa-icon "pencil" fixedWidth=true}}</span>
  {{#link-to "actividads.index" tagName="a" }}{{fa-icon "arrow-left" fixedWidth=true}}{{/link-to}}
  Actividad
</h1>
{{partial "actividads/form"}}
