<h1 class="page-header">
  <span class="pull-right text-muted">{{fa-icon "plus-circle" fixedWidth=true}}</span>
  {{#link-to "plantilladeflujos.index" tagName="a" }}{{fa-icon "arrow-left" fixedWidth=true}}{{/link-to}}
  Plantilladeflujo
</h1>

{{partial "plantilladeflujos/form"}}
