<h1 class="page-header">
  <span class="pull-right text-muted">{{fa-icon "eye" fixedWidth=true}}</span>
  {{#link-to "flujos.index" tagName="a" }}{{fa-icon "arrow-left" fixedWidth=true}}{{/link-to}}
  Flujo
</h1>

<div class="form-horizontal">
  
  <div class="form-group">
    <label class="control-label col-md-4">Nombre</label>
    <div class="col-md-8">
      <p class="form-control-static">
        {{model.nombre}}
      </p>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-4">Proyecto</label>
    <div class="col-md-8">
      <p class="form-control-static">
        {{model.proyecto}}
      </p>
    </div>
  </div>
  
</div>
